{{- $secrets := output "sops" "--decrypt" (printf "%s/secrets.enc.yaml" .chezmoi.sourceDir) | fromYaml -}}
WORKSTATION_SSID={{ $secrets.wifi.workstation.ssid }}
WORKSTATION_PASSWORD={{ $secrets.wifi.workstation.password }}
