{{- $secrets := output "sops" "--decrypt" (printf "%s/secrets.enc.yaml" .chezmoi.sourceDir) | fromYaml -}}
export DEEPSEEK_API_KEY={{ $secrets.llmApiKeys.deepseek }}
export DEEPSEEK_BASE_URL=https://api.deepseek.com

export GROQ_API_KEY={{ $secrets.llmApiKeys.groq }}

export ANTHROPIC_API_KEY={{ $secrets.llmApiKeys.anthropic }}

export SAMBANOVA_API_KEY={{ $secrets.llmApiKeys.sambanova }}
export SAMBANOVA_BASE_URL=https://api.sambanova.ai/v1

# Using Deepseek with OpenAI protocol by default.  Override in a different .envrc if needed.
export OPENAI_API_KEY=$DEEPSEEK_API_KEY
export OPENAI_BASE_URL=$DEEPSEEK_BASE_URL

