{{- $secrets := output "sops" "--decrypt" (printf "%s/secrets.enc.yaml" .chezmoi.sourceDir) | fromYaml -}}
export DEEPSEEK_API_KEY={{ $secrets.llmApiKeys.deepseek }}
export DEEPSEEK_BASE_URL=https://api.deepseek.com

export GROQ_API_KEY={{ $secrets.llmApiKeys.groq }}

export ANTHROPIC_API_KEY={{ $secrets.llmApiKeys.anthropic }}

export SAMBANOVA_API_KEY={{ $secrets.llmApiKeys.sambanova }}
export SAMBANOVA_BASE_URL=https://fast-api.snova.ai

# Slightly different name for Zed editor integration
export ANTHROPIC_API_KEY_VAR={{ $secrets.llmApiKeys.anthropic }}

# Using Deepseek with OpenAI protocol by default.
export OPENAI_API_KEY={{ $secrets.llmApiKeys.deepseek }}
export OPENAI_BASE_URL=$DEEPSEEK_BASE_URL

